/* containers */

.addInventoryContainer {
  border: 5px solid var(--color6);
  border-radius: 40px;
  box-shadow: -5px 5px 0px 0px var(--color6);
  margin: 10px auto;
  padding: 30px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.addInventoryForm {
  width: 100%;
  display: flex;
}

.formInputs {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nameInput {
  display: flex;
  width: 100%;
  align-items: center;
}

.stockedValueInput {
  margin: 0px;
  padding: 0px;
}

.formAddItem {
  width: 20%;
  align-self: flex-end;
}

/* form elements */

label {
  margin: 0px 20px 0px 5px;
}

.itemInput {
  display: block;
  width: 275px;
  font-size: 1.25rem;
  border: 3px solid var(--color6);
  background-color: var(--color7);
  color: var(--color6);
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  margin: 5px 0px 0px 0px;
}

.itemInput:hover,
.itemInput:focus,
.itemInput:active {
  border: 3px solid var(--color7);
  background-color: var(--color6);
  color: var(--color7);
  font-weight: bold;
}

fieldset {
  border: 0px;
}

legend {
  font-size: 1.25rem;
  padding: 0px;
}

input[type='radio'] {
  accent-color: var(--color6);
  cursor: pointer;
}

label.radio {
  cursor: pointer;
}
