/* containers */
/* TODO remove unnecessary bgc and borders when css is complete */

.addInventoryContainer {
  /* background-color: var(--color9); */
  border: 5px solid var(--color6);
  border-radius: 40px;
  /* box-shadow: offset-x offset-y blur-radius shadow-radius color */
  box-shadow: -5px 5px 0px 0px var(--color6);
  margin: 10px auto;
  padding: 30px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.addInventoryForm {
  /* border: 5px dotted red; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.formInputs {
  /* border: 7px solid purple; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nameInput {
  /* background-color: yellow; */
  display: flex;
  width: 100%;
  align-items: center;
}

.stockedValueInput {
  /* border: 5px dotted purple; */
  margin: 0px;
  padding: 0px;
}

.formAddItem {
  /* border: 4px dotted green; */
  /* height: 400px; */
  width: 20%;
  /* width: 100%; */
  /* align-items: center;
  justify-content: center; */
  align-self: flex-end;
  /* margin-right: -5px; */
}

/* form elements */

form {
  font-weight: 500;
}

label {
  margin: 0px 20px 0px 5px;
}

.itemInput {
  display: block;
  width: 275px;
  font-size: 1.25rem;
  border: 3px solid var(--color6);
  background-color: var(--color7);
  color: var(--color6);
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  margin: 5px 0px 0px 0px;
}

.itemInput:hover,
.itemInput:focus,
.itemInput:active {
  border: 3px dashed var(--color6);
  background-color: var(--accentColor);
}

fieldset {
  /* border: 12px solid pink; */
  border: 0px;
  /* margin-top: 50px; */
  /* display: block; */
}

legend {
  font-size: 1.25rem;
  padding: 0px;
}

input[type='radio'] {
  accent-color: var(--color6);
  cursor: pointer;
}

label.radio {
  cursor: pointer;
}
