button {
  margin: 0px 30px 0px 0px;
}
button:hover {
  cursor: pointer;
}

.addItemButton {
  width: 450px;
}

.primaryButton {
  /* size and spacing */
  width: 150px;
  height: 40px;
  /* color */
  background-color: var(--color6);
  color: var(--color7);
  /* text */
  font-size: 1.25rem;
  font-weight: bolder;
  /* style */
  border: none;
}

/* primary button hover, focus, active */
.primaryButton:hover,
.primaryButton:focus,
.primaryButton:active {
  background-color: var(--color7);
  color: var(--color6);
  border: 1px solid var(--color6);
}

/* secondary button */
.secondaryButton {
  /* spacing */
  padding: 5px;
  /* color */
  background-color: var(--color7);
  color: var(--color6);
  /* text */
  font-weight: bolder;
  /* style */
  border: 1px solid var(--color6);
}

.secondaryButton:hover,
.secondaryButton:focus,
.secondaryButton:active {
  background-color: var(--color6);
  color: var(--color7);
  border: 1px solid var(--color6);
}

/* tertiary button */
.tertiaryButton {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.tertiaryButton:hover,
.tertiaryButton:active {
  color: var(--color2);
  text-decoration: none;
}

.tertiaryButton:focus {
  color: var(--color2);
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 2px var(--color2);
}
