/* containers */
.authFlexboxContainer {
  display: flex;
  /* horizontal */
  justify-content: center;
  /* vertical */
  align-items: center;
}

.authFlexboxItem {
  margin: 20px;
  padding: 20px;
}

.authSignIn {
  border: 1px solid var(--color6);
}

.authSignUp {
  border: 1px solid var(--color6);
}

/* text */
h3 {
  margin: 0px;
}

/* form */
form {
}

.control,
fieldset {
  margin: 20px 0;
}

label {
  display: block;
}
