/* containers */
.authFlexboxContainer {
  display: flex;
  /* horizontal */
  justify-content: center;
  /* vertical */
  align-items: center;
}

.authFlexboxItem {
  margin: 20px;
  padding: 20px 50px 20px;
}

/* form */
.control,
fieldset {
  margin: 20px 0;
}

label {
  font-size: 1.25rem;
}

.authInput {
  display: block;
  width: 225px;
  font-size: 1.25rem;
  border: 3px solid var(--color6);
  background-color: var(--color7);
  color: var(--color6);
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  margin: 5px 0px 0px 0px;
}

.authInput:hover,
.authInput:focus,
.authInput:active {
  border: 3px solid var(--color7);
  background-color: var(--color6);
  color: var(--color7);
  font-weight: bold;
}
